* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
  margin-bottom: 16px;
}

@font-face {
  font-family: SegoeUi;
  src: url(../css/fonts-2/segoeui.ttf);
}
@font-face {
  font-family: SegoeUiBold;
  src: url(../css/fonts-2/segoeuib.ttf);
}
@font-face {
  font-family: SegoeUiBold2;
  src: url(../css/fonts-2/seguibl.ttf);
}
.home-banner .logo img {
  position: relative;
  height: 60px;
  width: 60px;
  left: -220px;
}
.home-banner .cName {
  position: relative;
  height: 20px;
  width: 200px;
  left: -200px;
}
.home-banner .cName h1 {
  font-family: SegoeUi;
  font-size: 16px;
  font-weight: lighter;
}
.home-banner nav {
  height: 80px;
  width: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home-banner nav a {
  position: relative;
  font-family: SegoeUi;
  font-size: 16px;
  text-transform: capitalize;
  text-decoration: none;
  color: #000;
  padding: 30px;
  right: 60px;
}
.home-banner .search {
  position: relative;
  width: 604px;
  height: 44px;
  background-color: #000;
  left: -120px;
}
.home-banner .search input {
  width: 604px;
  height: 44px;
  background-color: #c1d0d4;
  border-color: #707070;
  border-style: none;
}
.home-banner .user img {
  position: relative;
  height: 30px;
  width: 30px;
  left: 494px;
}
.home-banner .cart img {
  position: relative;
  height: 30px;
  width: 30px;
  left: 550px;
}

.line-break {
  position: relative;
  top: 80px;
}
.line-break hr {
  border: 1px solid #000;
}

footer {
  position: relative;
  width: 100%;
  height: 92px;
  background-color: #587C83;
  top: 1840px;
}

.copy {
  position: relative;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: 38px;
  right: -60px;
}
.copy h2 {
  font-family: SegoeUi;
  font-size: 16px;
  font-weight: lighter;
  color: #fff;
}

.links {
  position: relative;
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  left: 740px;
}
.links a {
  font-family: SegoeUi;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  text-transform: capitalize;
}

.sm {
  position: relative;
  width: 240px;
  height: 60px;
  left: 1460px;
  top: -40px;
}
.sm .bx {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sm .bx .b1 {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.sm .bx .b1 img {
  width: 40px;
  height: 40px;
}
.sm .bx .b2 {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.sm .bx .b2 img {
  width: 40px;
  height: 40px;
}
.sm .bx .b3 {
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.sm .bx .b3 img {
  width: 40px;
  height: 40px;
}

.feb {
  width: 100%;
  height: 600px;
}
.feb .banner {
  width: 1464px;
  height: 463px;
  background-image: url(../images/february-favorites-hero.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero {
  position: absolute;
  width: 1500px;
  height: 530px;
  background-color: cornflowerblue;
  margin-left: 120px;
  margin-top: 120px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(88, 124, 131, 0.6)), to(rgba(88, 124, 131, 0.6))), url(../images/home-hero.jpg);
  background-image: linear-gradient(rgba(88, 124, 131, 0.6), rgba(88, 124, 131, 0.6)), url(../images/home-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.hero h2 {
  position: relative;
  margin-left: 1200px;
  margin-top: 220px;
  font-family: SegoeUiBold;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-weight: lighter;
}
.hero p {
  position: relative;
  margin-left: 1200px;
  margin-top: 20px;
  font-family: SegoeUi;
  font-weight: lighter;
  font-size: 16px;
  text-transform: uppercase;
  color: #fff;
}

.book_boxes {
  position: absolute;
  width: 1600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 700px;
  left: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.book_boxes .clusterOne {
  position: relative;
  height: 600px;
  width: 400px;
}
.book_boxes .clusterOne .bk1 {
  position: relative;
  width: 220px;
  height: 320px;
  margin: 0 auto;
  top: 30px;
  background-image: url(../images/to-kill-a-mockingbird.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.book_boxes .clusterOne .desc1 {
  position: relative;
  width: 220px;
  height: 100px;
  top: 330px;
}
.book_boxes .clusterOne .desc1 p {
  font-family: SegoeUi;
  font-weight: lighter;
  font-size: 10px;
  text-align: center;
}
.book_boxes .clusterOne .p1 {
  position: relative;
  width: 98px;
  height: 32px;
  top: 340px;
  left: 65px;
}
.book_boxes .clusterOne .p1 p {
  font-family: SegoeUi;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.book_boxes .clusterOne button {
  position: relative;
  width: 168px;
  height: 68px;
  top: 360px;
  left: 30px;
}
.book_boxes .clusterTwo {
  height: 600px;
  width: 400px;
}
.book_boxes .clusterTwo .bk2 {
  position: relative;
  width: 220px;
  height: 320px;
  margin: 0 auto;
  top: 30px;
  background-image: url(../images/becoming.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.book_boxes .clusterTwo .desc2 {
  position: relative;
  width: 220px;
  height: 100px;
  top: 330px;
}
.book_boxes .clusterTwo .desc2 p {
  font-family: SegoeUi;
  font-weight: lighter;
  font-size: 10px;
  text-align: center;
}
.book_boxes .clusterTwo .p2 {
  position: relative;
  width: 98px;
  height: 32px;
  top: 340px;
  left: 65px;
}
.book_boxes .clusterTwo .p2 p {
  font-family: SegoeUi;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.book_boxes .clusterTwo button {
  position: relative;
  width: 168px;
  height: 68px;
  top: 360px;
  left: 30px;
}
.book_boxes .clusterThree {
  height: 600px;
  width: 400px;
}
.book_boxes .clusterThree .bk3 {
  position: relative;
  width: 220px;
  height: 320px;
  margin: 0 auto;
  top: 30px;
  background-image: url(../images/firestarter.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.book_boxes .clusterThree .desc3 {
  position: relative;
  width: 220px;
  height: 100px;
  top: 330px;
}
.book_boxes .clusterThree .desc3 p {
  font-family: SegoeUi;
  font-weight: lighter;
  font-size: 10px;
  text-align: center;
}
.book_boxes .clusterThree .p3 {
  position: relative;
  width: 98px;
  height: 32px;
  top: 340px;
  left: 65px;
}
.book_boxes .clusterThree .p3 p {
  font-family: SegoeUi;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}
.book_boxes .clusterThree button {
  position: relative;
  width: 168px;
  height: 68px;
  top: 360px;
  left: 30px;
}

.auOne {
  position: absolute;
  width: 1500px;
  height: 400px;
  margin-left: 120px;
  margin-top: 220px;
}
.auOne .picOne {
  position: relative;
  width: 293px;
  height: 400px;
  background-color: yellow;
  top: -102px;
  background-image: url(../images/about-photo.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.auOne h1 {
  position: relative;
  left: 740px;
  font-family: SegoeUi;
  font-weight: bolder;
  font-size: 32px;
  text-transform: uppercase;
  top: 40px;
}
.auOne h2 {
  position: relative;
  left: 840px;
  font-family: SegoeUi;
  font-weight: bolder;
  font-size: 20px;
  text-transform: uppercase;
  top: 30px;
}
.auOne p {
  position: relative;
  height: 200px;
  width: 1000px;
  margin-top: -360px;
  left: 440px;
  font-family: SegoeUi;
  font-size: 16px;
  font-weight: lighter;
}

.auTwo {
  position: absolute;
  width: 1500px;
  height: 400px;
  margin-left: 120px;
  margin-top: 720px;
}
.auTwo .picTwo {
  position: relative;
  width: 293px;
  height: 400px;
  background-color: yellow;
  top: -59px;
  background-image: url(../images/about-photo-two.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.auTwo h1 {
  position: relative;
  left: 740px;
  font-family: SegoeUi;
  font-weight: bolder;
  font-size: 32px;
  text-transform: uppercase;
  top: 60px;
}
.auTwo p {
  position: relative;
  height: 200px;
  width: 1000px;
  margin-top: -300px;
  left: 440px;
  font-family: SegoeUi;
  font-size: 16px;
  font-weight: lighter;
}

.blog_One {
  width: 1464px;
  height: 463px;
  background-color: #587C83;
  position: relative;
  margin: 0 auto;
  top: 160px;
}
.blog_One .img_one {
  position: absolute;
  height: 380px;
  width: 250px;
  background-color: aquamarine;
  top: 40px;
  left: 80px;
  background-image: url(../images/becoming.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog_One .img_one-2 {
  position: absolute;
  height: 372px;
  width: 246px;
  background-color: pink;
  top: 40px;
  left: 420px;
  background-image: url(../images/finding-me.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog_One .desc_one {
  position: absolute;
  width: 413px;
  height: 380px;
  top: 40px;
  left: 880px;
}
.blog_One .desc_one .tag_one {
  width: 364px;
  height: 32px;
  margin: 0 auto;
  margin-top: 30px;
}
.blog_One .desc_one .tag_one h2 {
  font-size: 32px;
  font-family: SegoeUi;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.blog_One .desc_one .p_one {
  width: 413px;
  height: 153px;
  margin-top: 60px;
}
.blog_One .desc_one .p_one p {
  font-size: 16px;
  font-family: SegoeUi;
  text-align: center;
  color: #fff;
}
.blog_One .desc_one .link_one {
  width: 222px;
  height: 68px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #fff;
}
.blog_One .desc_one .link_one a {
  position: relative;
  font-size: 16px;
  font-family: SegoeUi;
  margin-left: 68px;
  top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.blog_two {
  width: 1464px;
  height: 463px;
  background-color: #587C83;
  position: relative;
  margin: 0 auto;
  top: 260px;
}
.blog_two .img_two {
  position: absolute;
  height: 463px;
  width: 622px;
  background-color: aquamarine;
  background-image: url(../images/open-book-blog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog_two .desc_two {
  position: absolute;
  width: 413px;
  height: 380px;
  top: 40px;
  left: 880px;
}
.blog_two .desc_two .tag_two {
  width: 364px;
  height: 32px;
  margin: 0 auto;
  margin-top: 30px;
}
.blog_two .desc_two .tag_two h2 {
  font-size: 30px;
  font-family: SegoeUi;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.blog_two .desc_two .p_two {
  width: 413px;
  height: 153px;
  margin-top: 60px;
}
.blog_two .desc_two .p_two p {
  font-size: 16px;
  font-family: SegoeUi;
  text-align: center;
  color: #fff;
}
.blog_two .desc_two .link_two {
  width: 222px;
  height: 68px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #fff;
}
.blog_two .desc_two .link_two a {
  position: relative;
  font-size: 16px;
  font-family: SegoeUi;
  margin-left: 68px;
  top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.blog_three {
  width: 1464px;
  height: 463px;
  background-color: #587C83;
  position: relative;
  margin: 0 auto;
  top: 360px;
}
.blog_three .img_three {
  position: absolute;
  height: 463px;
  width: 626px;
  background-color: aquamarine;
  background-image: url(../images/ereading-blog.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.blog_three .desc_three {
  position: absolute;
  width: 413px;
  height: 380px;
  top: 40px;
  left: 880px;
}
.blog_three .desc_three .tag_three {
  width: 364px;
  height: 32px;
  margin: 0 auto;
  margin-top: 30px;
}
.blog_three .desc_three .tag_three h2 {
  font-size: 24px;
  font-family: SegoeUi;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}
.blog_three .desc_three .p_three {
  width: 413px;
  height: 153px;
  margin-top: 60px;
}
.blog_three .desc_three .p_three p {
  font-size: 16px;
  font-family: SegoeUi;
  text-align: center;
  color: #fff;
}
.blog_three .desc_three .link_three {
  width: 222px;
  height: 68px;
  margin: 0 auto;
  margin-top: 20px;
  border: 2px solid #fff;
}
.blog_three .desc_three .link_three a {
  position: relative;
  font-size: 16px;
  font-family: SegoeUi;
  margin-left: 68px;
  top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}

.inputs {
  width: 1200px;
  height: 400px;
  margin: 0 auto;
  position: relative;
  top: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.inputs .log_in {
  position: relative;
  width: 233px;
  height: 400px;
}
.inputs .log_in .ltag {
  position: absolute;
  width: 134px;
  height: 26px;
  top: 60px;
}
.inputs .log_in .ltag h2 {
  font-size: 20px;
  font-family: SegoeUi;
  text-align: left;
  text-transform: capitalize;
  font-weight: lighter;
  color: #000;
}
.inputs .log_in .lemail {
  position: absolute;
  top: 120px;
}
.inputs .log_in .lemail input {
  width: 233px;
  height: 24px;
  border-style: none;
  border-bottom: 2px solid #000;
}
.inputs .log_in .lemail input ::-webkit-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .lemail input ::-moz-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .lemail input :-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .lemail input ::-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .lemail input ::placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .lpword {
  position: absolute;
  top: 170px;
}
.inputs .log_in .lpword input {
  width: 233px;
  height: 24px;
  border-style: none;
  border-bottom: 2px solid #000;
}
.inputs .log_in .lpword input ::-webkit-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .lpword input ::-moz-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .lpword input :-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .lpword input ::-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .lpword input ::placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .log_in .login button {
  width: 170px;
  height: 45px;
  background-color: #587C83;
  margin: 0 auto;
  margin-top: 240px;
  margin-left: 40px;
  position: relative;
  font-size: 16px;
  font-family: SegoeUi;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}
.inputs .sign_up {
  width: 233px;
  height: 400px;
}
.inputs .sign_up .stag {
  width: 150px;
  height: 16px;
  top: 60px;
}
.inputs .sign_up .stag h4 {
  position: relative;
  font-size: 12px;
  font-family: SegoeUi;
  text-align: left;
  text-transform: lowercase;
  font-weight: bold;
  color: #000;
  top: 18px;
}
.inputs .sign_up .stag h2 {
  font-size: 20px;
  font-family: SegoeUi;
  text-align: left;
  text-transform: capitalize;
  font-weight: lighter;
  color: #000;
}
.inputs .sign_up .in_boxes {
  position: relative;
  width: 233px;
  height: 200px;
  display: inline-block;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  top: 60px;
}
.inputs .sign_up .in_boxes .fn input {
  width: 233px;
  height: 24px;
  border-style: none;
  border-bottom: 2px solid #000;
}
.inputs .sign_up .in_boxes .fn input ::-webkit-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .fn input ::-moz-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .fn input :-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .fn input ::-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .fn input ::placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ln {
  margin-top: 20px;
}
.inputs .sign_up .in_boxes .ln input {
  width: 233px;
  height: 24px;
  border-style: none;
  border-bottom: 2px solid #000;
}
.inputs .sign_up .in_boxes .ln input ::-webkit-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ln input ::-moz-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ln input :-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ln input ::-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ln input ::placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ea {
  margin-top: 20px;
}
.inputs .sign_up .in_boxes .ea input {
  width: 233px;
  height: 24px;
  border-style: none;
  border-bottom: 2px solid #000;
}
.inputs .sign_up .in_boxes .ea input ::-webkit-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ea input ::-moz-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ea input :-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ea input ::-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .ea input ::placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .pw {
  margin-top: 20px;
}
.inputs .sign_up .in_boxes .pw input {
  width: 233px;
  height: 24px;
  border-style: none;
  border-bottom: 2px solid #000;
}
.inputs .sign_up .in_boxes .pw input ::-webkit-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .pw input ::-moz-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .pw input :-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .pw input ::-ms-input-placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .in_boxes .pw input ::placeholder {
  color: #000;
  font-family: SegoeUi;
}
.inputs .sign_up .signup button {
  width: 170px;
  height: 45px;
  background-color: #587C83;
  margin: 0 auto;
  margin-top: 60px;
  margin-left: 40px;
  position: relative;
  font-size: 16px;
  font-family: SegoeUi;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
}