.hero {
    position: absolute;
    width: 1500px;
    height: 530px;
    background-color: cornflowerblue;
    margin-left: 120px;
    margin-top: 120px;

    background-image: linear-gradient(rgba(88,124,131,0.6),rgba(88,124,131,0.6)), url(../images/home-hero.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        position: relative;
        margin-left: 1200px;
        margin-top: 220px;

        font-family: SegoeUiBold;
        font-size: 22px;
        color: #fff;
        text-transform: uppercase;
        font-weight: lighter;
    }

    p {
        position: relative;
        margin-left: 1200px;
        margin-top: 20px;
        
        font-family: SegoeUi;
        font-weight: lighter;
        font-size: 16px;
        text-transform: uppercase;
        color: #fff;
    }
} 

.book_boxes {
     position: absolute;
    width: 1600px;
    height: 600px;
    // background-color: red;
    margin: 0 auto;
    margin-top: 700px;
    left: 80px;

    display: flex;
    justify-content: space-evenly;
   
    .clusterOne {
        position: relative;
        height: 600px;
        width: 400px;
        // background-color: blue;

        .bk1 {
            position: relative;
            width: 220px;
            height: 320px;
            // background-color: yellow;
            margin: 0 auto;
            top: 30px;

            background-image: url(../images/to-kill-a-mockingbird.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }

        .desc1 {
            position: relative;
            width: 220px;
            height: 100px;
            // background-color: yellowgreen;
            top: 330px;

            p {
                font-family: SegoeUi;
                font-weight: lighter;
                font-size: 10px;
                text-align: center;
            }
        }

        .p1 {
            position: relative;
            width: 98px;
            height: 32px;
            // background-color: pink;
            top: 340px;
            left: 65px;

            p {
                font-family: SegoeUi;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
            }
        }

        button {
            position: relative;
            width: 168px;
            height: 68px;
            top: 360px;
            left: 30px;
        }
    }

    .clusterTwo {
        height: 600px;
        width: 400px;
        // background-color: blue;

        .bk2 {
            position: relative;
            width: 220px;
            height: 320px;
            // background-color: yellow;
            margin: 0 auto;
            top: 30px;

            background-image: url(../images/becoming.jpg);
            background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
        }

        .desc2 {
            position: relative;
            width: 220px;
            height: 100px;
            // background-color: yellowgreen;
            top: 330px;

            p {
                font-family: SegoeUi;
                font-weight: lighter;
                font-size: 10px;
                text-align: center;
            }
        }

        .p2 {
            position: relative;
            width: 98px;
            height: 32px;
            // background-color: pink;
            top: 340px;
            left: 65px;

            p {
                font-family: SegoeUi;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
            }
        }

        button {
            position: relative;
            width: 168px;
            height: 68px;
            top: 360px;
            left: 30px;
        }
    }

    .clusterThree {
        height: 600px;
        width: 400px;
        // background-color: blue;

        .bk3 {
            position: relative;
            width: 220px;
            height: 320px;
            // background-color: yellow;
            margin: 0 auto;
            top: 30px;

            background-image: url(../images/firestarter.jpg);
            background-size: cover;
           background-position: center;
           background-repeat: no-repeat;
        }

        .desc3 {
            position: relative;
            width: 220px;
            height: 100px;
            // background-color: yellowgreen;
            top: 330px;

            p {
                font-family: SegoeUi;
                font-weight: lighter;
                font-size: 10px;
                text-align: center;
            }
        }

        .p3 {
            position: relative;
            width: 98px;
            height: 32px;
            // background-color: pink;
            top: 340px;
            left: 65px;

            p {
                font-family: SegoeUi;
                font-size: 16px;
                font-weight: bold;
                text-align: center;
            }
        }

        button {
            position: relative;
            width: 168px;
            height: 68px;
            top: 360px;
            left: 30px;
        }
    }
}