footer {
    position: relative;
    width: 100%;
    height: 92px;
    background-color: #587C83;
    top: 1440px;
}

.copy {
    position: relative;
    width: 300px;
    // height: 30px;
    // background-color: blue;
    display: flex;
    justify-content: left;
    align-items: center;
    top: 38px;
    right: -60px;


    h2 {
        font-family: SegoeUi;
        font-size: 16px;
        font-weight: lighter;
        color: #fff;
        }
}

.links {
        position: relative;
        // height: 72px;
        width: 260px;
        // background-color: blueviolet;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        left: 740px;
        
        a {
            font-family: SegoeUi;
            font-size: 16px;
            color: #fff;
            text-decoration: none;
            text-transform: capitalize;
         }
    }

.sm {
    position: relative;
    width: 240px;
    height: 60px;
    // background-color: cornflowerblue;
    left: 1460px;
    top: -40px;

    .bx {
        display: flex;
        justify-content: space-around;
        align-items: center;
       


        .b1 {
            width: 40px;
            height: 40px;
            // background-color: yellow;
            margin-top: 10px;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .b2 {
            width: 40px;
            height: 40px;
            // background-color: yellow;
            margin-top: 10px;

            img {
                width: 40px;
                height: 40px;
            }
        }

        .b3 {
            width: 40px;
            height: 40px;
            // background-color: yellow;
            margin-top: 10px;

            img {
                width: 40px;
                height: 40px;
            }
        }
    }

}
