.feb{
    width: 100%;
    height: 600px;
    // background-color: aquamarine;

    .banner{
        width: 1464px;
        height: 463px;
        // background-color: antiquewhite;
        background-image: url(../images/february-favorites-hero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
}